<!--Setting of a navbar-->
<div class="jumbotron">
<nav class="navbar navbar-toggleable-md navbar-light bg-faded">
  <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <span class="span2">
  <a class="navbar-brand" id="navbar-font" href="#"><img src="https://cdn2.iconfinder.com/data/icons/free-mobile-icon-kit/64/Suit.png" width="40" height="40" alt="">Gentleman's Class</a>
</span>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
      <div class="home">
      {{#link-to 'index'}}<a class="nav-link" href="">Home<span class="sr-only">(current)</span></a>{{/link-to}}
      </div>
      </li>

      <li class="nav-item">
        <div class="about">
        <a class="nav-link" href="about">About</a>
        </div>
      </li>


      <li class="nav-item">
        <div class="contact">
        <a class="nav-link" href="contact">Contact</a>
        </div>
      </li>

    </ul>
    <form>
      <span class="span1"><input type="button" value="Search" onclick="window.location.href='http://www.google.com'"></span>
    </form>
  </div>
</nav>
<h1 style="text-align:center" id="quote">Real Men, Real style</h1>
</div>
<!--End of setting of a navbar-->


{{outlet}}
