<h1 style="text-align:center">Contact Us</h1>

<p> We would love to help you answer any burning questions you may have.</p><br>

<p>Contact us today!</p>

<div class="maps">
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3988.7905371822694!2d36.78239551475385!3d-1.3005322990514376!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x182f109dcb26a413%3A0xca1c503989df391d!2sNgong+Lane+Plaza!5e0!3m2!1sen!2s!4v1491406639907" width="600" height="450" frameborder="0" style="border:0" allowfullscreen>
</iframe>
</div>

<p>
  e-commerce<br>
  Nairobi,Kenya.<br>
  Mobile no: <br>
  0700027700: Morris<br>
  0723844166: Collins<br>
  Email:<br>
  <a href="mailto:{{unbound email}}">mburumorris@gmail.com</a><br>
  <a href="mailto:{{unbound email}}">collotush@gmail.com</a>
</p>
